/* Eigene Schriftart LCARS einbinden ******************************************/
@font-face {
  font-family: LCARSGTJ3;
  src: url('font/LCARS.eot');   /* EOT file for IE */
} 
@font-face {
  font-family: LCARSGTJ3;
  src: url('font/LCARS.ttf');
}

/* body ***********************************************************************/
/*        font-size:          Schriftgroesse auf 25px                         */
/*        font-family:        Hauptschrift auf LCARS                          */
body {
      background:#0A101A;
      color:#fff;
      font-size:25px;
      font-family: LCARSGTJ3;
      margin:0;
      padding:0;
      overflow:hidden;
      -webkit-tap-highlight-color:rgba(0,0,0,0)      
    } 


/* .ipsWebFront ***************************************************************/
.ipsWebFront {
	background-color: rgb(102,102,102);
	bottom:0;
	height:100%;
	left:0;
	position:absolute;
	right:0;
	top:0;
	width:100%	
}

/* .ipsCategory ***************************************************************
.ipsCategory > .container .content .rightSide > .enum > div, 
.ipsCategory > .container .content .rightSide > .selector > div, 
.ipsCategory > .container .extended > .textBox > div {
	min-width: 50px;
	text-align: center; 
}
*/


.ipsCategory > .container .content .title {
  font-family: LCARSGTJ3;
  font-size: 25px;
}

/* Graphensymbol ausblenden */
.ipsCategory>.container .content .rightSide>.graphLink {
display: none;
}

.ipsCategory>.container .content .rightSide>.text.colored
	{
  background-image: none;
	border-color:transparent;
	border-style:solid;
	border-width:1px 0;
	line-height:28px;
	margin-right:3px;
	padding:0 10px;
	text-align: left;
	}

.ipsCategory>.container .content .rightSide>.enum>div,
.ipsCategory>.container .content .rightSide>.selector>div,
.ipsCategory>.container .extended>.textBox>div
  {
	background-image: none;
	background-color:rgba(255,255,255,0.1);
	border-color:transparent;
	border-style:solid;
	border-width:1px 0;
	color:rgba(255,255,255,0.3);
	display:inline-block;
	line-height:28px;
	margin-left:3px;
	min-height:28px;
	padding:0 10px;
	vertical-align:middle;
	min-width: 50px;
	text-align: center;	
	}

/* .ipsTabPane ****************************************************************/
.ipsTabPane > .navigation > .widgets {
    float: right;
    height: 36px;
    padding: 2px 0px;
}
.ipsTabPane > .navigation > .widgets > div > .title {
    font-size: 25px;
    font-family: LCARSGTJ3;
}

.ipsTabPane > .navigation {
	background-color: rgb(0,0,0);
}

.ipsTabPane > .navigation > .widgets > div {
    float: left;
    height: 32px;
    line-height: 32px;
    text-align: right;
    white-space: nowrap;
    /*
    margin-left: 0px;
    margin-right: 0px;
   padding-left: 0px;
   padding-right: 0px;
    */
}
.ipsTabPane > .navigation > .sub > .icon {
    display: inline-block;
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 1px;
}

.ipsTabPane > .navigation > .widgets > div > .title {
 	background-color: rgb(125,125,125);
 		min-width: 175px;
 		text-align: left; 
 		margin-left: 0px;
 		margin-right: 0px;

 		padding-left: 20px;
 		
}

.ipsTabPane > .navigation > .sub {
    float: left;
    font-size: 26px;
    line-height: 32px;
    min-height: 32px;
    padding: 2px 0px 2px 10px;
 
}


.ipsTabPane > .navigation > .scroll > .buttons > div {
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    display: inline-block;
    font-size: 25px;
    height: 32px;
    line-height: 32px;
    margin: 0px;
    opacity: 0.5;
    padding: 0px 0px;
    font-family: LCARSGTJ3;
    
    
}
.ipsTabPane > .navigation > .scroll > .buttons > div > .title {
    display: inline-block;
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 140px;
    font-family: LCARSGTJ3;
    text-align: center;
    background-color: rgb(125,125,125);

  
}

.ipsTabPane > .navigation > .scroll > .buttons > div > .icon {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-right: 0px;
    padding-top: 0px;
}

.ipsTabPane > .navigation > .sub > .title {
    display: inline-block;
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 140px;
    text-align: center;
    background-color: rgb(125,125,125);
    font-family: LCARSGTJ3;
}


.ipsTabPane > .navigation > .scrollLeft {
  float: left;
  height: 32px;
 	/*background-color: rgb(125,125,125); */
 	background-image: url("icons/HollowArrowLeft.png");
 	padding: 0px , 10px;
 	border-width: 0px;
 	
}

.ipsTabPane > .navigation > .scrollRight {
    float: right;
  height: 32px;
 	background-image: url("icons/HollowArrowRight.png");
 	 	padding: 0px , 10px;
 	 	border-width: 0px;
 	 	margin-left: 5px;
}


.ipsTabPane > .navigation > .widgets > div > .icon {
    display: none;
}

[class^="icon-"], [class*=" icon-"] {
    background-image: none; 
    background-position: 0px center;
    background-repeat: repeat; 
    
    display: inline;
    height: auto;
    line-height: normal;
    margin-top: 2px;
    vertical-align: baseline;
    width: 16px;
    /* Hide the Text  */
    font-size: 0px;
    /*opacity: 0.2; */
    /* -moz-opacity:0.2; Mozilla */
    /*text-indent: 100%;*/
    /*white-space: nowrap;*/ 
    /*overflow: hidden;*/   
}



/* .ipsContentChanger *********************************************************/

.ipsContentChanger > .navigation {
	background-color: rgb(0,0,0);
}

